<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>timg000</string>
	<string>timg001</string>
	<string>timg002</string>
	<string>timg003</string>
	<string>timg004</string>
	<string>timg005</string>
	<string>timg006</string>
	<string>timg007</string>
	<string>timg008</string>
	<string>timg009</string>
	<string>timg010</string>
	<string>timg011</string>
	<string>timg012</string>
	<string>timg013</string>
	<string>timg014</string>
</array>
</plist>
